<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../components/application-header.html">


<dom-module id="admin-page-lot">


    <template>
        <!-- Style here -->
        <style>
            
        </style>
		
		
        <p>[[text]]</p>
		<button id="B2" on-click="f">lot</button>
    </template>


    <script>
        Polymer({
            is: 'admin-page-lot',
            properties: {
                text: {value: "33"},
				text2: {value: ""}
            }
        });
    </script>

</dom-module>

