<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/iron-data-table/iron-data-table.html">



<dom-module id="gestion-ticket">

    <template>
        <!-- Style here -->
        <style>
            
        </style>
        
        <h3>Recherche de tickets</h3>
		<h2>Numéro de ticket</h2>
		<paper-textarea id="comment" label="Numéro ticket"></paper-textarea>
	
    
<!-- MAIN AJAX REQUEST -->
    <iron-ajax 
        id="request" 
        handle-as="json"
        method="POST" 
        on-response="ajaxResult"
        on-error="ajaxError"
        content-type="application/json">
    </iron-ajax>
    
<!-- PRIORITY AND STATUS DROPDOWN LISTBOX -->
<paper-dropdown-menu label="Priorite" noink no-animations >
  <paper-listbox attr-for-selected="name" class="dropdown-content" selected="All" id="Priorite">
    <paper-item name="All">All</paper-item>
    <paper-item name="Standard">Standard</paper-item>
    <paper-item name="Urgent">Urgent</paper-item>
    <paper-item name="Very Urgent">Very Urgent</paper-item>
  </paper-listbox>
</paper-dropdown-menu>

<paper-dropdown-menu label="Status" noink no-animations>
  <paper-listbox attr-for-selected="name" class="dropdown-content" selected="All" id="Status">
    <paper-item name="All">All</paper-item>
    <paper-item name="Open">Open</paper-item>
    <paper-item name="Closed">Closed</paper-item>
  </paper-listbox>
</paper-dropdown-menu>

<!-- APPLICATION DROPDOWN LISTBOX -->
<iron-ajax  
    id="okalm"
	url="/getApp"
	on-response="ajaxResult2"
	content-type="application/json"
	handleAs="json">
</iron-ajax>        
        
<paper-dropdown-menu label="Application" items="" noink no-animations>
	<paper-listbox attr-for-selected="name" class="dropdown-content" selected="All" id="Application">
		<paper-item name="All">All</paper-item>
		<template is=dom-repeat items="[[dataApp]]">
			<paper-item name="[[item.Application]]">[[item.Application]]</paper-item>
		</template>
    </paper-listbox>
    </paper-dropdown-menu>



    <paper-button raised id="button" on-click="f">Rechercher</paper-button>

    <!-- DATA TABLE -->
    <iron-data-table items="" id="tableTicket">
        <data-table-column name="ID Ticket">
            <template>[[item.ID]]</template>
        </data-table-column>
        <data-table-column name="Priorité">
            <template>[[item.PRIORITY]]</template>
        </data-table-column>
        <data-table-column name="Status requête">
            <template>[[item.REQUEST_STATUS]]</template>
        </data-table-column>
        <data-table-column name="Application">
            <template>[[item.APPLICATION]]</template>
        </data-table-column>
        <data-table-column name="Favoris">
            <template><paper-checkbox noink name="[[item.ID]]" checked="[[item.FAVORIS]]" on-change="switchFav"></paper-checkbox></template>
        </data-table-column>
        <data-table-column name="Détails">
            <template><paper-button noink raised name="[[item.ID]]" on-click="getRightTicket"></paper-button></template>
        </data-table-column>
    </iron-data-table>

    <p id="txt1" hidden><b>ID: </b>[[text0]]</p>
    <p id="txt2" hidden>PRIORITY: [[text1]]</p>
    <p id="txt3" hidden>REQUEST_STATUS: [[text2]]</p>
    <p id="txt4" hidden>APPLICATION: [[text3]]</p>
    <p id="txt5" hidden>CREATION_DATE: [[text4]]</p>
    <p id="txt6" hidden>OLA_START: [[text5]]</p>
    <p id="txt7" hidden>OLA_END_DATE: [[text6]]</p>
    <p id="txt8" hidden>OLA_EXPECTED: [[text7]]</p>

    <paper-button raised id="mask" on-click="g" hidden>Cacher</paper-button>

    </template>
    <script>
        Polymer({
            is: 'gestion-ticket',
            properties: {
                text0: {
                    value: ""
                },
                text1: {
                    value: ""
                },
                text2: {
                    value: ""
                },
                text3: {
                    value: ""
                },
                text4: {
                    value: ""
                },
                text5: {
                    value: ""
                },
                text6: {
                    value: ""
                },
                text7: {
                    value: ""
                },
                dataApp: {
                    type: Array,
                    APPLICATION: []
                },
                ObjectData: {
                    type: Object
                },

            },
            ajaxResult2: function(e) {
                this.set("dataApp", e.detail.response);
                console.log(this.dataApp);
            },
            ajaxResult: function(e) {
                if (e.detail.response != null) {
                    var Object = e.detail.response;
                    this.set("ObjectData", Object);
                    document.getElementById("tableTicket").items = this.ObjectData;
                } else {
                    this.fire('refreshTabEvent');
                }

            },
            g: function(e) {
                var string;
                for (var i = 1; i < 9; i++) {
                    string = "#txt" + i;
                    this.querySelector(string).hidden = true;
                }
                this.querySelector("#mask").hidden = true;
                this.$.comment.scrollIntoView();
            },
            f: function(e) {
                var body = {
                    "id": this.querySelector("#comment").value,
                    "Prio": this.querySelector("#Priorite").selected,
                    "Stat": this.querySelector("#Status").selected,
                    "App": this.querySelector("#Application").selected
                };
                this.$.request.url = "/request";
                this.$.request.body = body;
                this.$.request.generateRequest();
            },
            p: function(e) {
                this.$.okalm.generateRequest();
            },
            getRightTicket: function(e) {
                for (var i = 0; i < this.ObjectData.length; i++) {
                    if (e.target.name == this.ObjectData[i].ID) {
                        this.printTicketSelected(this.ObjectData[i]);
                        break;
                    }
                }
            },
            printTicketSelected: function(ticket) {

                this.set("text0", ticket.ID);
                this.set("text1", ticket.PRIORITY);
                this.set("text2", ticket.REQUEST_STATUS);
                this.set("text3", ticket.APPLICATION);
                this.set("text4", ticket.CREATION_DATE);
                this.set("text5", ticket.OLA_START);
                this.set("text6", ticket.OLA_END_DATE);
                this.set("text7", ticket.OLA_EXPECTED);

                var string;
                for (var i = 1; i < 9; i++) {
                    string = "#txt" + i;
                    this.querySelector(string).hidden = false;
                }
                this.querySelector("#mask").hidden = false;
                this.$.txt8.scrollIntoView();

                /*var body2 = {
                    "text": this.text0 + this.text1 + this.text2 + this.text3 + this.text4 + this.text5 + this.text6 + this.text7
                };

                this.$.request.url = "/mailing";
                this.$.request.body = body2;
                this.$.request.generateRequest();*/
            },
            switchFav: function(e) {
                var body = {
                    "id": e.target.name,
                    "Fav": e.target.checked
                };
                this.$.request.url = "/ToggleFav";
                this.$.request.body = body;
                this.$.request.generateRequest();
            },
            ajaxError: function(event) {
                console.log(event);
                console.log(event.detail);
                console.log(event.detail.request);
                console.log(event.detail.request.xhr.response);
            },
        });

    </script>
</dom-module>

/*if ((/^\d+$/.test(body.id)) || (body.id == null) || (body.id == "")) {*/
