<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../components/application-header.html">
<link rel="import" href="../components/liste-contrat.html">
<link rel="import" href="../components/gestion-ticket.html">
<link rel="import" href="../components/favoris-ticket.html">

<link rel="import" href="../components/admin-pages/admin-page.html">
<link rel="import" href="../components/admin-pages/admin-page-domaine.html">
<link rel="import" href="../components/admin-pages/admin-page-contrat.html">
<link rel="import" href="../components/admin-pages/admin-page-feu.html">
<link rel="import" href="../components/admin-pages/admin-page-horaire.html">
<link rel="import" href="../components/admin-pages/admin-page-indic.html">
<link rel="import" href="../components/admin-pages/admin-page-lot.html">
<link rel="import" href="../components/admin-pages/admin-page-periode.html">
<link rel="import" href="../components/admin-pages/admin-page-service.html">
<link rel="import" href="../components/admin-pages/admin-page-sla.html">
<link rel="import" href="../components/admin-pages/admin-page-contact.html">
<link rel="import" href="../components/admin-pages/admin-page-comite.html">
<link rel="import" href="../components/admin-pages/admin-page-application.html">

<dom-module id="total-totem">

    <template>
        <!-- Style here -->
        <style>
            paper-material {
                min-height: 200px;
                margin: 2em;
            }
        </style>
        
        <paper-header-panel>
            <application-header url="{{route}}"></application-header>
        </paper-header-panel>

        <!-- Sections -->
        <iron-pages attr-for-selected="data-route" selected="[[route]]">
            <section id="contrats" data-route="contrats">
                <paper-material elevation="1">
                    <liste-contrat></liste-contrat>   
                </paper-material>
            </section>
            <section id="tickets" data-route="tickets">
                <paper-material elevation="1">
                    <gestion-ticket id="ticketing"></gestion-ticket>
                </paper-material>
            </section>
			<section id="FavTicket" data-route="FavTicket">
				<paper-material elevation="1">
					<favoris-ticket id="favTick"></favoris-ticket>
				</paper-material>
			</section>
                        <section id="admin-page" data-route="admin-page">
				<paper-material elevation="1">
					<admin-page></admin-page>
				</paper-material>
			</section>
            <section id="admin-page-contrat" data-route="admin-page-contrat">
                <paper-material elevation="1">
                    <admin-page-contrat id="contrat"></admin-page-contrat>
                </paper-material>
            </section>
            <section id="admin-page-lot" data-route="admin-page-lot">
                <paper-material elevation="1">
                    <admin-page-lot id="lot"></admin-page-lot>
                </paper-material>
            </section>
            <section id="admin-page-domaine" data-route="admin-page-domaine">
                <paper-material elevation="1">
                    <admin-page-domaine id="dom"></admin-page-domaine>
                </paper-material>
            </section>
            <section id="admin-page-application" data-route="admin-page-application">
                <paper-material elevation="1">
                    <admin-page-application id="app"></admin-page-application>
                </paper-material>
            </section>
            <section id="admin-page-indic" data-route="admin-page-indic">
                <paper-material elevation="1">
                    <admin-page-indic id="indic"></admin-page-indic>
                </paper-material>
            </section>
            <section id="admin-page-service" data-route="admin-page-service">
                <paper-material elevation="1">
                    <admin-page-service id="service"></admin-page-service>
                </paper-material>
            </section>
            <section id="admin-page-horaire" data-route="admin-page-horaire">
                <paper-material elevation="1">
                    <admin-page-horaire id="hor"></admin-page-horaire>
                </paper-material>
            </section>
            <section id="admin-page-contact" data-route="admin-page-contact">
                <paper-material elevation="1">
                    <admin-page-contact id="contact"></admin-page-contact>
                </paper-material>
            </section>
            <section id="admin-page-comite" data-route="admin-page-comite">
                <paper-material elevation="1">
                    <admin-page-comite id="comite"></admin-page-comite>
                </paper-material>
            </section>
            <section id="admin-page-sla" data-route="admin-page-sla">
                <paper-material elevation="1">
                    <admin-page-sla id="SLA"></admin-page-sla>
                </paper-material>
            </section>
            <section id="admin-page-periode" data-route="admin-page-periode">
                <paper-material elevation="1">
                    <admin-page-periode id="periode"></admin-page-periode>
                </paper-material>
            </section>
            <section id="admin-page-feu" data-route="admin-page-feu">
                <paper-material elevation="1">
                    <admin-page-feu id="FEU"></admin-page-feu>
                </paper-material>
            </section>
        </iron-pages>

    </template>
    <script>
        Polymer({
            is: 'total-totem',
            properties: {
                route: {
                    type: String,
                    value: "contrats",
                    notify: true
                }
            },
            listeners: {
                "urlChangeEvent": "changeUrl"
            },
            changeUrl: function(e) {
                
                switch (e.detail.route) {
                    case "FavTicket":
                        this.querySelector("#favTick").refreshTab();
                        break;
                    case "tickets":
                        this.querySelector("#ticketing").f();
                        this.querySelector("#ticketing").p();
                        break;
                    case "admin-page-domaine":
                        this.querySelector("#dom").sendRequest();
                        break;
                    case "admin-page-lot":
                        this.querySelector("#lot").sendRequest();
                        break;
                    case "admin-page-contrat":
                        this.querySelector("#contrat").sendRequest();
                        break;
                    case "admin-page-application":
                        this.querySelector("#app").sendRequest();
                        break;
                    case "admin-page-sla":
                        this.querySelector("#SLA").sendRequest();
                        break;
                    case "admin-page-feu":
                        this.querySelector("#FEU").sendRequest();
                        break;
                    case "admin-page-periode":
                        this.querySelector("#periode").sendRequest();
                        break;
                    case "admin-page-horaire":
                        this.querySelector("#hor").sendRequest();
                        break;
                    case "admin-page-contact":
                        this.querySelector("#contact").sendRequest();
                        break;
                    case "admin-page-comite":
                        this.querySelector("#comite").sendRequest();
                        break;
                    case "admin-page-service":
                        this.querySelector("#service").sendRequest();
                        break;
                    case "admin-page-indic":
                        this.querySelector("#indic").sendRequest();
                        break;
                }
                this.set("route", e.detail.route)
            }
        });

    </script>

</dom-module>
