<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="../../bower_components/iron-data-table/iron-data-table.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../components/application-header.html">


<dom-module id="admin-page-service">


    <template>
        <!-- Style here -->
        <style>
            
        </style>
		
	<body>

<!-- APPLICATION DROPDOWN LISTBOX -->
<iron-ajax 
    method="POST"
    id="getElement"
    on-response="ajaxResult2"
    content-type="application/json"
    handle-as="json">
</iron-ajax>
<iron-ajax 
    method="POST"
    id="getSQLResult"
    on-response="ajaxResult"
    content-type="application/json"
    handle-as="json">
</iron-ajax>

<paper-dropdown-menu label="libellé court" items="" noink no-animations>
    <paper-listbox attr-for-selected="name" class="dropdown-content" selected="All" id="service">
        <paper-item name="All">All</paper-item>
        <template is=dom-repeat items="[[dataLC]]">
            <paper-item name="[[item.LIB_COURT]]">[[item.LIB_COURT]]</paper-item>
        </template>
    </paper-listbox>
    </paper-dropdown-menu>

    <paper-dropdown-menu label="libellé long" items="" noink no-animations>
        <paper-listbox attr-for-selected="name" class="dropdown-content" selected="All" id="service2">
            <paper-item name="All">All</paper-item>
            <template is=dom-repeat items="[[dataLL]]">
            <paper-item name="[[item.LIB_LONG]]">[[item.LIB_LONG]]</paper-item>
        </template>
        </paper-listbox>
    </paper-dropdown-menu>

    <paper-button raised id="button" on-click="f">Rechercher</paper-button>

    <!-- DATA TABLE -->
    <iron-data-table items="" id="tableService">
        <data-table-column name="service">
            <template><paper-input id="C[[item.ref_service.ID]]" value="[[item.ref_service.LIB_COURT]]"></paper-input></template>
        </data-table-column>
        <data-table-column name="service">
            <template><paper-input id="L[[item.ref_service.ID]]" value="[[item.ref_service.LIB_LONG]]"></paper-input></template>
        </data-table-column>
        <data-table-column name="Modifer">
            <template><paper-button noink raised name="[[item.ref_service.ID]]" on-click="modifier"></paper-button></template>
        </data-table-column>
        <data-table-column name="Remove">
            <template><paper-button noink raised name="[[item.ref_service.ID]]" on-click="remove"></paper-button></template>
        </data-table-column>
    </iron-data-table>

    <p>[[text]]</p>

    <paper-button raised id="addData" on-click="addingData">Add Data</paper-button>
    <paper-input id="libcourtData" hidden label="Libellé court" char-counter maxlength="30"></paper-input>
    <paper-textarea id="liblongData" hidden label="Libellé long" char-counter maxlength="240"></paper-textarea>
    <paper-textarea id="DescriptionData" hidden label="Description"></paper-textarea>

    <paper-button raised hidden id="Enregistrer" on-click="save">Enregistrer</paper-button>
    </body>
    </template>
    <script>
        Polymer({
            is: 'admin-page-service',
            properties: {
                text: {
                    value: ""
                },
                dataLC: {
                    type: Array,
                    LIB_COURT: [],
                },
                dataLL: {
                    type: Array,
                    LIB_LONG: [],
                },
                ObjectData: {
                    type: Object
                },
            },
            sendRequest: function(e) {
                var body = {
                    "table": "ref_service",
                    "libcourt": 1,
                    "liblong": 1
                };
                this.$.getElement.url = "/getData";
                this.$.getElement.body = body;
                this.$.getElement.generateRequest();
            },
            ajaxResult: function(e) {
                if (e.detail.response === "success") {
                    this.sendRequest();
                    this.f();
                } else if (e.detail.response === 0) {
                    this.set("text", "Error can't remove service that contains some elements");
                } else if (e.detail.response != null) {
                    var Object = e.detail.response;
                    this.set("ObjectData", Object);
                    document.getElementById("tableService").items = this.ObjectData;
                }
            },
            ajaxResult2: function(e) {
                if (e.detail.response === "error") {
                    console.log("Error request for contrat")
                } else {
                    this.set("dataLC", e.detail.response[1]);
                    this.set("dataLL", e.detail.response[0]);
                }
                this.f();
            },
            f: function(e) {
                var body = {
                    "table": "ref_service",
                    "libcourt": this.querySelector("#service").selected,
                    "liblong": this.querySelector("#service2").selected
                };
                this.$.getSQLResult.url = "/getResult";
                this.$.getSQLResult.body = body;
                this.$.getSQLResult.generateRequest();
            },
            modifier: function(e) {
                var body = {
                    "table": "ref_service",
                    "ID": e.target.name,
                    "libcourt": this.querySelector("#C" +
                        e.target.name).value,
                    "liblong": this.querySelector("#L" +
                        e.target.name).value
                }
                this.$.getSQLResult.url = "/updateData";
                this.$.getSQLResult.body = body;
                this.$.getSQLResult.generateRequest();
            },
            addingData: function(e) {
                this.querySelector("#libcourtData").hidden = false;
                this.querySelector("#DescriptionData").hidden = false;
                this.querySelector("#liblongData").hidden = false;
                this.querySelector("#Enregistrer").hidden = false;
            },
            remove: function(e) {
                /*SEND IRON AJAX REQUEST TO REMOVE DATA FROM DATABASE*/
                var body = {
                    "table": "ref_service",
                    "ID": e.target.name
                }
                this.$.getSQLResult.url = "/removeData";
                this.$.getSQLResult.body = body;
                this.$.getSQLResult.generateRequest();
            },
            save: function(e) {
                /*SEND IRON AJAX REQUEST TO ADD DATA INTO DATABASE*/
                var boo = true;
                for (var i = 0; i < this.ObjectData.length; i++) {
                    if (this.ObjectData[i].ref_service.LIB_COURT === this.querySelector("#libcourtData").value) {
                        this.set("text", "This service already exists");
                        boo = false;
                        break;
                    }
                }
                if (boo) {
                    var body = {
                        "table": "ref_service",
                        "libcourt": this.querySelector("#libcourtData").value,
                        "liblong": this.querySelector("#liblongData").value,
                        "Description": this.querySelector("#DescriptionData").value
                    }
                    this.$.getSQLResult.url = "/insertData";
                    this.$.getSQLResult.body = body;
                    this.$.getSQLResult.generateRequest();

                }
            }
        });

    </script>

</dom-module>
