<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../components/application-header.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">


<dom-module id="admin-page">


    <template>
        <!-- Style here -->
        <style>
            
        </style>
		
<paper-checkbox noink name="nom" checked on-change="switchFavo"></paper-checkbox>

        <p>[[text]]</p>
    </template>


    <script>
        Polymer({
            is: 'admin-page',
            properties: {
                text: {
                    value: "TEST"
                },
                text2: {
                    value: ""
                }
            },
            switchFavo: function(e) {
                console.log(e);

            }
        });

    </script>

</dom-module>
