<!doctype html>
<html>

<head>

    <title>Total Totem</title>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="import" href="bower_components/polymer/polymer.html">
    <link rel="import" href="components/total-totem.html">
    <link rel="import" href="components/ecran-accueil.html">


</head>

<body unresolved>
    <template is="dom-bind" id="app">
        <ecran-accueil></ecran-accueil>        
	</template>
</body>

</html>
