doctype html
html
  head
    title Total Totem
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='import', href='bower_components/polymer/polymer.html')
    link(rel='import', href='components/ecran-accueil.html')
  body(unresolved='')
    template#app(is='dom-bind')
        ecran-accueil
      
